* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffaf3;
  color: #333;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #4b2c20;
  color: white;
  padding: 20px;
  position: fixed;
}

.logo {
  font-size: 1.8rem;
  text-decoration: underline;
  margin-bottom: 30px;
}

.nav-links {
  scroll-behavior: smooth;
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin: 20px 0;
  padding: 10px;
}
.nav-links li:hover{
  border-bottom: 3px solid gray;
}
.nav-links a {
  color: white;
  padding: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #f0c674;
}

.content {
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 220px);
}

.hero {
  background-size: cover;
  background-position: center;
  height: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  text-shadow: 2px 2px 5px black;
}

section {
  height: 500px;
  border-radius: 5px;
  padding: 20px;
  margin: 40px 0;
  transition: 1s ease-in;

}

section > ul{
  list-style-type: square;
}

section:hover{
  color: white;
  font-size: 20px;
  background-image: linear-gradient(rgb(189, 66, 9),rgb(177, 197, 201));
}
section > h2{
  background-color: rgb(207, 140, 102);
  text-align: center;
  padding: 10px;
  letter-spacing: 5px;
  text-shadow: #d87953;
}

.scroll-menu {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px 0;
}

.scroll-menu img {
  height: 200px;
  width: 250px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }

  .content {
    margin-left: 0;
    width: 100%;
  }

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .nav-links li {
    margin: 10px;
  }
}

